flask
flask-cors
flask-sqlalchemy==3.0.3
SQLAlchemy==2.0.15
flask-migrate
flask-mail
flask-cas
flask-redis
psycopg2-binary
boto3
elasticsearch==7.9
beautifulsoup4
html5lib
requests
gunicorn
redis
celery==4.4.7
importlib_metadata==4.13.0
pyjwt
yaledirectory>=1.3.1
Pillow
cryptography
