#controls {
    margin-bottom: 15px;
}

#submit {
    padding: 8px 10px;
}

#clear_filters {
    margin-top: 8px;
}
.filter {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 8px 13px 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    user-select: none;
    cursor: pointer;
}
.filter.active {
    border-color: #00356b;
    border-width: 2px;
}
.filter.collapsed {
    padding: 8px 13px;
}
.filter h4 {
    margin-bottom: 5px;
    cursor: pointer;
}
.filter.collapsed h4 {
    margin-bottom: 0;
}
.filter i {
    transform: rotate(180deg);
    transition: transform 0.1s;
    cursor: pointer;
}
.filter.collapsed i {
    transform: rotate(0);
    transition: transform 0.1s;
}
.filter input,
.filter label {
    cursor: pointer;
}
.filter.collapsed label {
    display: none;
}
#scroll_top {
    border-radius: 50%;
    color: white;
    background-color: #00356b;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
}
#scroll_top.shown {
    opacity: 1;
}
@media (max-width: 700px) {
    .filter label {
        margin: 6px 0;
    }
}
