#controls {
    margin-bottom: 10px;
}

#submit {
    padding: 8px 10px;
}

.filter {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 12px;
    border: solid 1px lightgray;
    border-radius: 20px;
    user-select: none;
}
.filter.active {
    border-color: #00356b;
    border-width: 2px;
    padding: 9px 11px;
}
.filter i {
    transform: rotate(180deg);
    transition: transform 0.1s;
}
.filter.collapsed i {
    transform: rotate(0);
    transition: transform 0.1s;
}
.filter.collapsed label {
    display: none;
}
