.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

#error {
    color: #FF0000;
}

#success {
    color: #00FF00;
}
