section {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
label {
    display: block;
}
input[type="text"],
button, .button,
textarea {
    font: inherit;
}
input[type="text"] {
    padding: 7px 10px;
    border: solid 1px lightgray;
}
button, .button {
    padding: 8px 10px;
    border: none;
    background: #00356b;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button.success, .button.success {
    background: #38e128;
}
button.fail, .button.fail {
    background: #f20000;
}
textarea {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    overflow: visible;
    border: solid 1px lightgray;
    resize: none;
    display: block;
}
