#list > div {
    width: 3in;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    text-align: left;
}
#list > div h3 .netid {
    font-size: 70%;
    margin-left: 5px;
    vertical-align: 2px;
}
#list > div > div > * {
    display: inline-block;
    vertical-align: top;
}
#list > div > div > i {
    margin-top: 9px;
    width: 20px;
}
#list > div > div > p {
    max-width: 80%;
}

#list div.image {
    width: 100px;
    height: 120px;
    background-size: cover;
    background-image: url(/static/images/user.png);
    background-position: center center;
}
.pronunciation.playing {
    color: #00d018;
}
.pills {
    margin: 5px 0 3px;
}
.pill {
    background: #00356b;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
    border-radius: 12px;
    margin-top: 2px;
    margin-right: 4px;
}
.i.leave {
    color: #00d018;
    font-size: 12px;
    margin-left: 5px;
}
.row.eli-whitney {
    color: #E4572E;
}
