@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lexend Deca', serif;
    font-size: 14px;
    padding: 20px;
    color: #00356b;
    background: white;
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: #00356b;
}
header {
    margin-bottom: 10px;
}
img {
    height: 52px;
    vertical-align: top;
    display: inline-block;
}
h2 {
    font-size: 40px;
    display: inline-block;
}
h3 {
    margin-top: 10px;
}
p {
    margin: 5px 0 8px;
    max-width: 6.5in;
}
a {
    color: inherit;
}
#warning {
    color: #D5202F;
}
footer {
    margin-top: 10px;
    font-size: 10px;
    color: lightgray;
}

section.collapsed {

}
section.collapsed label {
    display: none;
}
