@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lexend Deca', serif;
    font-size: 14px;
    padding: 20px;
    color: #00356b;
    background: white;
    border-top-width: 20px;
    border-top-style: solid;
    border-top-color: #00356b;
}
header {
    margin-bottom: 10px;
}
header img {
    height: 52px;
    vertical-align: top;
    display: inline-block;
}
h2 {
    font-size: 40px;
    display: inline-block;
}
h3 {
    margin-top: 10px;
}
p {
    margin: 5px 0 5px;
    max-width: 6.5in;
}
a {
    color: inherit;
}

section {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border: solid 1px lightgray;
}
section h4::after {
    content: '';
    vertical-align: middle;
    border: solid 4px transparent;
    border-bottom-width: 0px;
    border-top: solid 4px currentColor;
    display: inline-block;
    transform: rotateX(180deg);
    transition: transform 0.5s;
}
section.collapsed h4::after {
    transform: rotateX(0);
    transition: transform 0.5s;
}
section.collapsed {

}
section.collapsed label {
    display: none;
}

#output > div {
  width: 3in;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 10px 0;
  text-align: left;
}

#output > div h3 {

}
#output > div h3 .netid {
    font-size: 70%;
    margin-left: 5px;
    vertical-align: 2px;
}
#output > div > div > * {
    display: inline-block;
    vertical-align: top;
}
#output > div > div > i {
    margin-top: 7px;
    width: 20px;
}
#output > div > div > p {
    max-width: 80%;
}

#output img {
    width: 100px;
    height: 120px;
}
.row {

}
.row.leave {
    color: #00d018;
}

label {
    display: block;
}
input[type="text"],
button, .button,
textarea {
    font: inherit;
}
input[type="text"] {
    padding: 7px 10px;
    border: solid 1px lightgray;
}
button, .button {
    padding: 8px 10px;
    border: none;
    background: #00356b;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
button.success, .button.success {
    background: #38e128;
}
button.fail, .button.fail {
    background: #f20000;
}
textarea {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    overflow: visible;
    border: solid 1px lightgray;
    resize: none;
    display: block;
}

footer {
    margin-top: 10px;
    font-size: 10px;
    color: lightgray;
}
