@font-face {
	font-family: "Lexend Deca";
	font-style: normal;
	font-weight: 400;
	src: local("Lexend Deca Regular"), local("LexendDeca-Regular"), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lexend Deca", serif;
	color: #00356b;
	background: white;
	/* UNCOMMENT WHEN REMOVING BANNER: border-top: 15px solid #00356b; */
}

.content {
	padding: 14px;
	font-size: 14px;
}

.banner {
	background: #00356b;
	width: 100%;
	color: white;
	padding: 10px 15px;
	text-align: center;
	font-size: 13px;
}

@media (max-width: 700px) {
	.content {
		font-size: 15px;
		padding: 14px 12px;
	}
}


main {
	padding: 3px;
}

header {
	margin-bottom: 10px;
}
header img {
	height: 46px;
	vertical-align: top;
	display: inline-block;
}
header #logo {
	display: inline-block;
	text-decoration: none;
	margin-top: 7px;
	padding-left: 3px;
}
h2 {
	font-size: 40px;
	display: inline-block;
	margin-top: -2px;
	margin-left: 2px;
}
ul {
	margin-left: 15px;
	line-height: 1.5;
}
nav {
	float: right;
	position: relative;
	top: 8px;
	margin-bottom: 2px;
}
nav .button {
	margin-bottom: 8px;
}
footer {
	margin-top: 10px;
	font-size: 10px;
	color: lightgray;
}
h3 {
	margin-top: 10px;
}
p {
	margin: 5px 0 5px;
	max-width: 6.5in;
	line-height: 1.5;
}
a {
	color: inherit;
}
ol, ul {
	list-style-position: inside;
}
label {
	display: block;
}
button,
.button,
input[type="text"],
textarea {
	font: inherit;
	border-radius: 23px;
	outline: 0;
}
input[type="text"],
textarea {
	padding: 10px 12px;
	border: none;
	background: rgba(0, 21, 42, 0.05);
}
button,
.button {
	padding: 10px 12px;
	border: none;
	background: #00356b;
	display: inline-block;
	color: white;
	text-decoration: none;
	cursor: pointer;
	margin-right: 2px;
}
button.outline,
.button.outline {
	border: none;
	box-shadow: 0 0 4px rgba(0, 21, 42, 0.2);
	background: none;
	color: #00356b;
}
button.success,
.button.success {
	background: #38e128;
}
button.fail,
.button.fail {
	background: #f20000;
}
button[disabled] {
	opacity: 0.6;
	cursor: default;
}
textarea {
	max-width: 100%;
	margin-bottom: 10px;
	overflow: visible;
	resize: none;
	display: block;
}

.mobile-only {
	display: none;
}

.search_wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

#query {
	width: 100%;
	margin-right: 6px;
	max-width: 300px;
}

#control_bar {
	display: flex;
	flex-direction: column;
}

.row-icon {
	padding-right: 3px;
}
@media (max-width: 700px) {
	body {
		font-size: 16px;
	}
	nav {
		float: none;
		position: static;
	}
	.mobile-only {
		display: block;
	}
}
