.slide {
    display: none;
}

.next_slide_button {
    display: block;
    margin-top: 20px;
}

#removal_form label {
    /* Only show for screen readers */
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;

    display: inline-block;
}

th:first-child {
    padding-right: 20px;
}
