{% extends "base.html" %}

{% block content %}
    <h1>Sorry, you don't have access to this page.</h1>
    <p>For security reasons, you must be verifiably listed in the Yale directory as an undergraduate in order to access Yalies, CourseTable, and other YCS projects. If you are in the directory but are still seeing this message, please email <a href="mailto:yalecomputersociety@gmail.com">yalecomputersociety@gmail.com</a> for help.</p>
    <h2>Are you an incoming Yale student, who has not yet started their first term of classes?</h2>
    <p>Access to Yalies.io and other Y/CS products are granted after matriculation, usually in August before classes start. Please see our <a href="https://yalecomputersociety.org/newstudents">matriculation access policy</a> for more information.</p>
{% endblock %}
