{% extends "base.html" %}

{% block content %}
    <h1>You don't have access to this page.</h1>
    <p>To access Yalies, CourseTable, and other websites, you must be listed in the Yale directory as an undergraduate studnt. If we're not able to check the directory and verify that you are an undergrad, you unfortunately cannot use Yalies. If you are in the directory but are still seeing this message, please email <a href="mailto:yalecomputersociety@gmail.com">yalecomputersociety@gmail.com</a> for help.</p>
{% endblock %}
