<div class="filter collapsed" id="{{ name }}">
    <h4>
        <i class="fa fa-chevron-down"></i>
        {% if header %}
            {{ header }}
        {% else %}
            {{ name[0] | upper }}{{ name[1:] }}
        {% endif %}
    </h4>
    <label>
        <input type="checkbox" name="{{ name }}-all"> All
    </label>
    {% for item in items %}
    <label>
        <input type="checkbox" name="{{ item or '' }}">
        {% if item == "" %}
            {{ default or "None" }}
        {% else %}
            {{ item }}
        {% endif %}
    </label>
    {% endfor %}
</div>
