{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>Yalies is a website that provides data on the Yale student body. It combines data from <a href="https://students.yale.edu/facebook">Yale Face Book</a> and <a href="https://directory.yale.edu">Yale Directory</a>, with enhanced design, user experience, and security. It uses only data that Yale makes public. To learn how to remove your data from Yale's publicly published data set, see <a href="/hide_me">here</a>.</p>
<h3 name="source_code">Source Code</h3>
<p>You may access the source code of this website <a href="https://github.com/Yalies/api">on GitHub</a>.</p>
<h3 name="author">Author</h3>
<p>Yalies is developed by <a href="https://erikboesen.com">Erik Boesen</a>. For questions, comments, bug reports, or suggestions, contact <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a>.</p>
{% endblock %}
