{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>Yalies is a website that provides data on the Yale student body. It combines data from <a href="https://students.yale.edu/facebook">Yale Face Book</a>, <a href="https://directory.yale.edu">Yale Directory</a>, and other sources, and contributes additional analysis to provide as much useful information as possible.</p>
<p>Of interest to developers, and unlike official Yale data sources, Yalies also provides a powerful and flexible API to make fetching student info a breeze. No need to parse the Yale Face Book HTML for your projects.</p>
<p>For questions, comments, bug reports, or suggestions, contact <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a>.</p>
<h2 name="remove_your_information">Remove your information</h2>
<p>All data used by Yalies is drawn from the <a href="https://students.yale.edu/facebook">Yale Face Book</a> and <a href="https://directory.yale.edu">Yale Directory</a>. If you wish to remove any information about yourself, you may visit the <a href="https://www.sis.yale.edu">Yale SIS</a> and remove whatever information you desire. The information will promptly disappear from Yalies as well.</p>
<h2 name="source_code">Source Code</h2>
<p>You may access the source code of this website <a href="https://github.com/Yalies/api">on GitHub</a>.</p>
{% endblock %}
