{% extends "base.html" %}

{% block content %}
<h1>API documentation</h1>
<div id="token">
    <button id="get_token">Get token</button>
    <input type="text" id="readout_token" value="{{ token }}" readonly>
</div>
<p>Currently, the API has one endpoint: <code>POST https://yalies.io/api/students</code>. The endpoint returns a JSON list of students. It accepts a JSON-formatted body containing the properties <code>query</code>, <code>filters</code>, and <code>page</code> (which may all be omitted). <code>query</code> represents an arbitrary string to search by, which will search across most fields of student data. <code>filters</code> is a dictionary mapping column names to lists of acceptable values. <code>page</code> represents the number of the page of students to get, which may allow you to improve request efficiency if you do not need to fetch every student at once. For example:</p>
<pre>
{
    "query": "Joe",
    "filters": {
        "college": [
            "Grace Hopper",
            "Davenport"
        ],
        "year": [2023, 2024],
        "floor": [3],
        "leave": [True]
    },
    "page": 1
}
</pre>
<p>This payload would fetch the first page of students in Grace Hopper or Davenport college, in the classes of 2023 or 2024, who live on floor 3 of their residential building, are on a leave of absence, and have a name, address, or other property that contains the search term "Joe".</p>
<p>The following filters are supported: <code>college</code>, <code>year</code>, <code>major</code>, <code>building_code</code>, <code>entryway</code>, <code>floor</code>, <code>suite</code>, <code>room</code>, <code>state</code>, and <code>leave</code>.</p>
<h3>Authentication</h3>
<p>You must pass in the header <code>Authorization</code>, with a value of <code>Bearer _______</code> (replacing the underscores with the token obtained from the top of this page).</p>
<script src="/static/js/token.js"></script>
{% endblock %}
