<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }} - Yalies</title>
        <meta property="og:title" content="{{ title }} - Yalies">
        {% else %}
        <title>Yalies</title>
        <meta property="og:title" content="Yalies">
        {% endif %}
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="An enhanced interface for the Yale Face Book.">
        <meta name="author" content="Erik Boesen">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:description" content="A flexible API for obtaining Yale student data.">
        <meta property="og:image" content="https://yalies.io/static/images/logo/banner.png">
        <meta name="theme-color" content="#00356b">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/controls.css">
        <link rel="stylesheet" href="/static/css/list.css">
        <link rel="stylesheet" href="/static/css/api.css">
        <link rel="icon" href="/static/images/logo/favicon.png" type="image/png">
        <link rel="icon" href="/static/images/logo/favicon.ico" type="image/x-icon">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a class="button outline" href="/">Home</a>
                <a class="button outline" href="/about">About</a>
                <a class="button outline" href="/hide_me">Hide Me!</a>
                <a class="button outline" href="/apidocs">API</a>
                {% if not unauthenticated %}
                <a class="button outline" href="/logout/">Log out</a>
                {% endif %}
            </nav>
            <a id="logo" href="/">
                <img src="/static/images/logo/logo.png" alt="Logo">
                <h2>Yalies</h2>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>This directory is intended for official University use and for individual communication of a business or incidental personal nature between individuals who are included in the facebook/directory. No other uses are permitted, including but not limited to using the addresses or other information for any private, commercial or political mailing or other purposes.</p>
        </footer>
    </body>
</html>
