{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block content %}
<article>
    <h1>FAQ</h1>
    <h3>Q: How can I remove my information from Yalies?</h3>
    <p>Yalies only uses data that is already publicly available to Yale students—absolutely no protected information is revealed. NetIDs, UPIs, and emails come from the <a href="https://directory.yale.edu">Yale Directory</a>, and everything else comes from <a href="https://students.yale.edu/facebook">Yale Face Book</a>.</p>
    <h4>Removing information from the Face Book</h4>
    <p>Yale's official Face Book includes a number of potentially sensitive data points (such as street addresses, room numbers, and even phone numbers), each of which is censored by Yalies. We believe Yale ought to hide this information from their sources by default. However, until the university makes this change, students should consider proactively hiding from Yale's database any information that makes them uncomfortable. Information removed from Yale's sources will subsequently disappear from Yalies as well.</p>
    <ul>
        <li>
            <p>To remove information about yourself from Yalies, visit the <a href="https://students.yale.edu/facebook/PreferencesPage" target="_blank">Yale Face Book "Edit" page</a>.</p>
        </li>
        <li>
            <p>To access the page, first sign in to the Face Book with CAS.</p>
        </li>
        <li>
            <p>The Face Book sometimes redirects users back to the home page upon sign in. If this occurs, click the "Edit" button in the header to return.</p>
            <img src="/static/images/hide/edit_button.png" alt="Click edit button">
        </li>
        <li>
            <p>On the Edit page, you'll see a number of "Yes" and "No" radio buttons, which each correspond to a data point Yale provides. Select the "No" option for any data point that you don't wish to be publicly accessible.</p>
            <img src="/static/images/hide/click_no.png" alt="Click No buttons">
        </li>
        <li>
            <p>Click the "Update" button to save changes.</p>
            <img src="/static/images/hide/click_update.png" alt="Click Update button">
        </li>
        <li>
            <p>Congratulations! Your information has been hidden.</p>
            <img src="/static/images/hide/success.png" alt="Successful save">
        </li>
    </ul>
    <h4>Removing information from the Yale Directory</h4>
    <p>Because directory information is generally public record as a matter of FERPA policy, Yale does not have an interactive website that allows you to remove it. If you would like your information removed, Yale recommends that you contact <a href="mailto:registrar@yale.edu">registrar@yale.edu</a> to request removal. Bear in mind this may prevent you from using some university services.</p>
    <h3>Q: How can I add a pronunciation for my name?</h3>
    <p>Yalies draws name pronunciations from <a href="https://name-coach.com">NameCoach</a>, a third-party company that Yale uses to provide name pronunciations, plus additional information like phonetic spelling and pronouns. You can provide this information to Yale by visiting <a href="https://www.sis.yale.edu">Yale SIS</a> and selecting "Personal Data" then "NameCoach".</p>
    <h3>Q: I can't log in to Yalies, how do I re-gain access?</h3>
    <p>You need to add yourself back to the directory of students at <a href="https://directory.yale.edu">the Yale directory.</a> </p>
    <img src="/static/images/faq/yub.png" alt="Add yourself to the directory in Yale Hub">
    <img src="/static/images/faq/bannerlisting.png" alt="Choose option 1 in the banner page"> 
    <p>You can do so in your <a href="https://yub.yale.edu">Yale Hub</a> account under the personal data tab, directory listing option.</p>
    

</article>
{% endblock %}
