{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block content %}
<article>
    <h1>FAQ</h1>
    <h3>Q: How can I remove my information from Yalies?</h3>
    <p>Yalies only uses data that is already publicly available to Yale students—absolutely no protected information is revealed. NetIDs, UPIs, and emails come from the <a href="https://directory.yale.edu">Yale Directory</a>, and everything else comes from <a href="https://students.yale.edu/facebook">Yale Face Book</a>.</p>
    <h4>Removing information from the Face Book</h4>
    <p>Follow <a href="/removeme">these instructions</a> to remove certain data points from the Yale Face Book and Yalies.io.
    <h4>Removing information from the Yale Directory</h4>
    <p>Because directory information is generally public record as a matter of FERPA policy, Yale does not have an interactive website that allows you to remove it. If you would like your information removed, Yale recommends that you contact <a href="mailto:registrar@yale.edu">registrar@yale.edu</a> to request removal. Bear in mind this may prevent you from using some university services.</p>
    
    <h3>Q: How can I add a pronunciation for my name?</h3>
    <p>Yalies draws name pronunciations from <a href="https://name-coach.com">NameCoach</a>, a third-party company that Yale uses to provide name pronunciations, plus additional information like phonetic spelling and pronouns. You can provide this information to Yale by visiting <a href="https://www.sis.yale.edu">Yale SIS</a> and selecting "Personal Data" then "NameCoach".</p>
    <h3>Q: I can't log in to Yalies, how do I re-gain access?</h3>
    <p>You need to add yourself back to the directory of students at <a href="https://directory.yale.edu">the Yale directory.</a> You can do so in your <a href="https://yub.yale.edu">Yale Hub</a> account under the personal data tab, directory listing option.</p>
    <li>
        <p>Click the directory listing option in the left-hand menu of the Yale Hub.</p>
        <img src="/static/images/faq/yub.png" alt="Add yourself to the directory in Yale Hub">
    </li>
    <li>
        <p>Choose the first option to re-add yourself to the directory. Yalies.io will pick up the change on the next data update.</p>
        <img src="/static/images/faq/bannerlisting.png" alt="Choose option 1 in the banner page"> 
    </li>   

</article>
{% endblock %}
