{% extends "base.html" %}

{% block content %}
<h1>Remove your information</h3>
<p>Yalies only uses data that is already publicly available to Yale students, drawing from the <a href="https://students.yale.edu/facebook">Yale Face Book</a> and <a href="https://directory.yale.edu">Yale Directory</a>. No data is used that is not already available from those sources.</p>
<p>If you wish to remove any information about yourself from Yalies, you may do so through the <a href="https://students.yale.edu/facebook/PreferencesPage">Yale Face Book "Edit" page</a>. Because Yalies only uses data that is already readily available from these sources, removed information will promptly disappear from Yalies as well.</p>
{% endblock %}
