{% extends "base.html" %}

{% block content %}
<h1>Remove your information</h3>
<p>Yalies only uses data that is publicly available to Yale students—no private information is added. NetIDs, UPIs, and emails come from the <a href="https://directory.yale.edu">Yale Directory</a>, and everything else comes from <a href="https://students.yale.edu/facebook">Yale Face Book</a>.</p>
<p>If you wish to remove any information about yourself from Yalies, you may do so through the <a href="https://students.yale.edu/facebook/PreferencesPage">Yale Face Book "Edit" page</a>. Removed information will promptly disappear from Yalies as well.</p>
{% endblock %}
