{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/popup.css">
{% endblock %}

{% block content %}
<div id="controls">
    <input type="text" id="query" placeholder="Search">
    <button id="submit"><i class="fa fa-search"></i></button>
    <div class="filters">
        <button id="clear_filters">
            <i class="fa fa-filter"></i>
            Clear Filters
        </button>
        {% with name = "college", items = colleges %}{% include "_filter.html" %}{% endwith %}
        {% with name = "year", items = years, default = "Other" %}{% include "_filter.html" %}{% endwith %}
        {% with name = "leave", items = leave, header = "On leave?" %}{% include "_filter.html" %}{% endwith %}
        {% with name = "eli_whitney", items = eli_whitney, header = "Eli Whitney?" %}{% include "_filter.html" %}{% endwith %}
        {% with name = "major", items = majors %}{% include "_filter.html" %}{% endwith %}
        {#
        <div class="filter collapsed" id="building_code">
            <h4>
                <i class="fa fa-chevron-circle-down"></i>
                Building
            </h4>
            <label>
                <input type="checkbox" name="building_code-all"> All
            </label>
            {% for building_code, building in building_codes.items() %}
            <label>
                <input type="checkbox" name="{{ building_code }}"> {{ building }}
            </label>
            {% endfor %}
        </div>
        {% with name = "entryway", items = entryways %}{% include "_filter.html" %}{% endwith %}
        {% with name = "floor", items = floors %}{% include "_filter.html" %}{% endwith %}
        {% with name = "suite", items = suites %}{% include "_filter.html" %}{% endwith %}
        {% with name = "room", items = rooms %}{% include "_filter.html" %}{% endwith %}
        #}
    </div>
</div>
<div id="empty">
    <i class="fa fa-exclamation-circle"></i>
    No matching students found.
</div>
<div id="list"></div>
<div id="loading">
    <i class="fa fa-hourglass"></i>
    Loading...
</div>
<script src="/static/js/index.js"></script>
<script src="/static/js/popup.js"></script>
{% endblock %}
