{% extends "base.html" %}

{% block content %}
<div id="controls">
    <input type="text" id="query" placeholder="Search">
    <button id="submit"><i class="fa fa-search"></i></button>
    <h4 id="filters_header">Filters <span id="clear_filters">(Clear)</span></h4>
    <div>
        {% with name = "college", items = colleges %}{% include "_section.html" %}{% endwith %}
        {% with name = "year", items = years, default = "Other" %}{% include "_section.html" %}{% endwith %}
        {% with name = "leave", items = leave, header = "On leave?" %}{% include "_section.html" %}{% endwith %}
        {% with name = "eli_whitney", items = eli_whitney, header = "Eli Whitney?" %}{% include "_section.html" %}{% endwith %}
        {% with name = "major", items = majors %}{% include "_section.html" %}{% endwith %}
        <section id="building_code" class="collapsed">
            <h4>Building</h4>
            <label>
                <input type="checkbox" name="building_code-all"> All
            </label>
            {% for building_code, building in building_codes.items() %}
            <label>
                <input type="checkbox" name="{{ building_code }}"> {{ building }}
            </label>
            {% endfor %}
        </section>
        {% with name = "entryway", items = entryways %}{% include "_section.html" %}{% endwith %}
        {% with name = "floor", items = floors %}{% include "_section.html" %}{% endwith %}
        {% with name = "suite", items = suites %}{% include "_section.html" %}{% endwith %}
        {% with name = "room", items = rooms %}{% include "_section.html" %}{% endwith %}
    </div>
</div>
<div id="empty">
    <i class="fa fa-exclamation-circle"></i>
    No matching students found.
</div>
<div id="output">
</div>
<div id="loading">
    <i class="fa fa-hourglass"></i>
    Loading...
</div>
<script src="/static/js/index.js"></script>
{% endblock %}
