{% extends "base.html" %}

{% block content %}
<h3>Learn about your classmates!</h3>
<p>YaleStudents helps you obtain data on Yale students in a more developer-friendly API format than the official <a href="https://students.yale.edu/facebook">Yale Face Book</a>.</p>
<p>For questions, comments, bug reports, or suggestions, contact <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a>.</p>
<p>Obtain an API token by logging in.</p>
<a class="button" href="/login">Log in with CAS</a>
{% endblock %}
