{% extends "base.html" %}

{% set unauthenticated = True %}

{% block content %}
<h3>A better directory of your classmates!</h3>
<p>Yalies is a website (mobile app coming soon) that provides information on the Yale student body. It displays publicly accessible data that is shown on the <a href="https://students.yale.edu/facebook">Yale Face Book</a> and <a href="https://directory.yale.edu">Yale Directory</a>, with enhanced design and user experience.</p>
<!--<p>Of interest to developers, and unlike official Yale data sources, Yalies also provides a powerful and flexible API to make fetching student info a breeze. No need to parse the Yale Face Book HTML for your projects.</p>-->
<a class="button" href="/login/">Log in with CAS</a>
{% endblock %}
